<div class="uk-position-center">
  <div class="uk-margin-left">
    <div class="uk-child-width-1-2 uk-grid-large" uk-grid>
      <div>
        <h2 class="text-color-blue uk-text-bold">Welcome <%= @organizer.email %></h2>
        <div class="uk-form-controls uk-margin">
          <%= link_to "Add a Rider", "", class: "uk-button large-button", "uk-toggle": "target: #add-rider-modal" %>
        </div>

        <div class="uk-form-controls uk-margin">
          <%= link_to "View all Riders", riders_path, class: "uk-button large-button" %>
        </div>

        <div class="uk-form-controls uk-margin">
          <%= link_to "Log Out", destroy_organizer_session_path, method: :delete, class: "uk-button large-button" %>
        </div>
      </div>
      <div>
        <%= image_tag image_path("Car_v3_trimmed.png") %>
      </div>
    </div>
    <%= render partial: "home/add_rider_modal" %>
  </div>
</div>