<div id="add-rider-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add a Rider</h2>
    </div>
    <div class="uk-modal-body uk-padding-remove-bottom uk-padding-remove-top">
      <%= form_for Rider.new, url: { action: "create", controller: "riders" }, class: "uk-form-stacked" do |f| %>
        <div class="uk-margin">
          <%= label_tag "Phone Number", nil, class: "uk-form-label" %>
          <div class="uk-form-controls">
            <%= f.text_field :phone_number, class: "uk-input" %>
          </div>
        </div>
        
        <div class="uk-margin">
          <%= label_tag "First Name", nil, class: "uk-form-label" %>
          <div class="uk-form-controls">
            <%= f.text_field :first_name, class: "uk-input" %>
          </div>
        </div>

        <div class="uk-margin">
          <%= label_tag "Last Name", nil, class: "uk-form-label" %>
          <div class="uk-form-controls">
            <%= f.text_field :last_name, class: "uk-input" %>
          </div>
        </div>

        <div class="uk-align-right">
          <%= f.submit "Add", class: "uk-button blue-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>