<div id="sign-up-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Sign Up</h2>
    </div>
    <div class="uk-modal-body uk-padding-remove-bottom">
      <%= form_tag organizer_registration_path, method: :post do %>
        <div class="uk-margin">
          <%= text_field_tag "organizer[email]", :email, placeholder: "Email", class: "uk-input", "v-model": "newUser.email" %>
        </div>

        <div class="uk-margin">
          <%= password_field_tag "organizer[password]", :password, placeholder: "Password", class: "uk-input", "v-model": "newUser.password" %>
        </div>

        <div class="uk-margin">
          <%= password_field_tag "organizer[password_confirmation]", :password_confirmation, placeholder: "Confirm Password", class: "uk-input", "v-model": "newUser.passwordConfirm" %>
          <small class="text-color-red" v-show="showPasswordsDoNotMatch">Passwords do not match</small>
        </div>

        <div class="uk-align-right">
          <%= submit_tag "Sign Up", class: "uk-button blue-button", ":disabled": "disableSignUpButton" %>
        </div>
      <% end %>
    </div>
  </div>
</div>