<div class="uk-position-center">
  <div class="uk-margin-left">
    <div class="uk-child-width-1-2 uk-grid-large" uk-grid>
      <div>
        <div id="vue-app-home-page" v-cloak>
          <%= render partial: "home/sign_up_modal" %>
          <%= render partial: "home/add_rider_modal" %>
          <h1 class="text-color-blue uk-text-bold">I am {{ selectedUserType === "organizer" ? "an" : "a" }} {{ _.capitalize(selectedUserType) }} </h1>
          <div class="uk-form-controls">
              <label><input class="uk-radio" type="radio" name="user-type-radio" v-model="selectedUserType" value="rider"> Rider</label>
              <label><input class="uk-radio uk-margin-left" type="radio" name="user-type-radio" v-model="selectedUserType" value="sponsor"> Sponsor</label>
              <label><input class="uk-radio uk-margin-left" type="radio" name="user-type-radio" v-model="selectedUserType" value="organizer"> Organizer</label>
          </div>
          <div class="uk-margin-top">
            <div v-if="selectedUserType == 'rider'">
              <%= form_tag request_ride_path, method: :post do %>
                <div class="uk-margin">
                  <div class="uk-form-controls">
                    <%= text_field_tag :phone_number, nil, class: "uk-input", placeholder: "Enter your Phone Number" %>
                  </div>
                </div>
                
                <div class="uk-margin">
                  <div class="uk-form-controls">
                    <%= submit_tag "Request a Ride", class: "uk-button large-button" %>
                  </div>
                </div>
              <% end %>
            </div>

            <div v-if="selectedUserType == 'sponsor'">
              <div class="uk-form-controls">
                <%= link_to "#{ image_tag("Lyft_Logo_White.svg", size: "64x32") } Sign in with Lyft".html_safe, omniauth_authorize_path('sponsor', 'lyft'), class: "uk-button large-button" %>
              </div>
            </div>

            <div v-if="selectedUserType == 'organizer'">
              <% if current_organizer %>
                <div class="uk-form-controls uk-margin">
                  <%= link_to "Add a Rider", "", class: "uk-button large-button", "uk-toggle": "target: #add-rider-modal" %>
                </div>

                <div class="uk-form-controls uk-margin">
                  <%= link_to "View all Riders", riders_path, class: "uk-button large-button" %>
                </div>

                <div class="uk-form-controls uk-margin">
                  <%= link_to "Log Out", destroy_organizer_session_path, method: :delete, class: "uk-button large-button" %>
                </div>
              <% else %>
                <%= form_tag(organizer_session_path) do %>
                  <div class="uk-margin">
                    <div class="uk-form-controls">
                      <%= text_field_tag "organizer[email]", nil, class: "uk-input", placeholder: "Enter your Email" %>
                    </div>
                  </div>

                  <div class="uk-margin">
                    <div class="uk-form-controls">
                      <%= password_field_tag "organizer[password]", nil, class: "uk-input", placeholder: "Enter your Password" %>
                    </div>
                  </div>
                  <div class="uk-margin">
                    <div class="uk-form-controls">
                      <%= submit_tag "Sign In", class: "uk-button large-button" %>
                      <small class="uk-margin-left"><%= link_to "No Account? Sign Up Here", "", "uk-toggle": "target: #sign-up-modal" %></small>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <%= image_tag image_path("Car_v3_trimmed.png") %>
      </div>
    </div>
  </div>
</div>