<% @title = "Ride Requests | Sponsor My Lyft" %>
<div class="uk-margin-large-top">
  <div class="uk-position-top-right uk-width-1-5 uk-position-large uk-margin-large-top">
    <%= image_tag "lyft_black_car.png", class:"uk-margin-top" %>
  </div>
  <h3 class="text-color-blue uk-margin-remove-top">Thank you <%= current_sponsor.first_name %> for helping your community</h3>
  <h3 class="uk-text-bold text-color-blue">Requested rides</h3>
  <table class="uk-table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Start Time
        </th>
        <th>
          Starting Location
        </th>
        <th>
          Destination
        </th>
        <th>
          Estimated Cost
        </th>
        <th>
          Status
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ride_requests.each_with_index do |request, index| %>
        <tr>
          <td><%= "#{request.rider.first_name} #{request.rider.last_name}" %></td>
          <td><%= request.start_time.strftime("%l:%M %p %m %b") if !request.start_time.nil? %></td>
          <td><%= request.start_loc_name %></td>
          <td><%= request.dest_loc_name %></td>
          <td>$ <%= request.estimated_cost %></td>
          <td><%= request.status.titleize %></td>
          <td>
            <% if request.status != 'sponsored' %>
              <%= link_to "Sponsor Ride", sponsor_ride_path(request_id: request.id), class: "uk-button blue-button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>