<div class="uk-position-center">
  <h2 class="uk-text-bold text-color-blue">Welcome Back!</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="uk-margin">
      <%= f.label :email, class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
      </div>
    </div>

    <div class="uk-margin">
      <%= f.label :password, class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "uk-input" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign in", class: "uk-button large-button" %>
    </div>
  <% end %>
</div>
