<%= render partial: "home/add_rider_modal" %>
<% @title = "Riders | Sponsor My Lyft" %>
<div class="uk-margin-large-top">
  <div class="uk-form-controls uk-margin uk-position-top-right uk-position-medium uk-margin-large-top">
    <%= link_to "Add a Rider", "", class: "uk-button blue-button uk-margin-medium-top", "uk-toggle": "target: #add-rider-modal" %>
  </div>
  <h2 class="uk-text-bold text-color-blue">Riders</h2>
  <div uk-grid>
    <div class="uk-width-2-3">
      <% @riders.each do |rider| %>
        <h3>
          <%= "#{rider.first_name} #{rider.last_name}" %>
          <br>
          <small><%= number_to_phone(rider.phone_number) %></small>
        </h3>
        <% if rider.ride_requests.blank? %>
          <h4 class="uk-margin-remove-top">No Rides Scheduled</h4>
        <% else %>
          <table class="uk-table-small">
            <thead>
              <tr>
                <th>
                  Date Requested
                </th>
                <th>
                  Start Time
                </th>
                <th>
                  Starting Location
                </th>
                <th>
                  Destination
                </th>
                <th>
                  Estimated Cost
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <% rider.ride_requests.each_with_index do |request, index| %>
                <tr>
                  <td><%= request.created_at.strftime("%l:%M %p %m %b") %></td>
                  <td><%= request.start_time.strftime("%l:%M %p %m %b") if !request.start_time.nil? %></td>
                  <td><%= request.start_loc_name %></td>
                  <td><%= request.dest_loc_name %></td>
                  <td>$ <%= request.estimated_cost %></td>
                  <td><%= request.status.titleize %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <hr style="border-top: 1px solid #1850A5;">
      <% end %>
    </div>
    <div class="uk-width-1-3">
      <%= image_tag "lyft_black_car.png" %>
    </div>
  </div>

</div>