<% @title = "Request a Ride | Sponsor My Lyft" %>
<%= tag.div class: "uk-margin-xlarge-top", id: "vue-app-request-ride", "v-cloak": "", data: { id: @rider.id } do %>
  <div class="uk-margin-left">
    <h1 class="text-color-blue uk-text-bold">Welcome <%= "#{@rider.first_name} #{@rider.last_name}" %></h1>
    <form class="uk-form-stacked" @submit.prevent="">
      <div v-show="currentPage == 'destination'">
        <div class="uk-child-width-1-2 uk-grid-large" uk-grid>
          <div>
            <h3 class="uk-margin-remove-top">Where do you want to go?</h3>
            <div class="uk-margin">
              <%= label_tag "Destination Name", nil, class: "uk-form-label" %>
              <div class="uk-form-controls">
                <%= text_field_tag :dest_loc_name, nil, class: "uk-input", "v-model": "destination.name" %>
              </div>
            </div>
            <div class="uk-margin">
              <%= label_tag "Street Address", nil, class: "uk-form-label" %>
              <div class="uk-form-controls">  
                <%= text_field_tag :dest_street_address, nil, class: "uk-input", "v-model": "destination.address" %>
              </div>
            </div>
            <div uk-grid>
              <div class="uk-width-2-3">
                <%= label_tag "City", nil, class: "uk-form-label" %>
                <div class="uk-form-controls">
                  <%= text_field_tag :dest_city, nil, class: "uk-input", "v-model": "destination.city" %>
                </div>
              </div>
              <div class="uk-width-1-3">
                <%= label_tag "Zip Code", nil, class: "uk-form-label" %>
                <div class="uk-form-controls">
                  <%= text_field_tag :dest_zip, nil, class: "uk-input", "v-model": "destination.zip" %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <%= image_tag "DL_car.png" %>
          </div>
        </div>

        <div class="uk-align-right uk-margin-top">
            <%= button_tag "Next", class: "uk-button large-button", "@click": "switchPage('start')", ":disabled": "disableNextButton" %>
        </div>
      </div>
      
      <div v-show="currentPage == 'start'">
        <div class="uk-child-width-1-2" uk-grid>
          <div>
            <h3 class="uk-margin-remove-top">Where are you wanting picked up?</h3>
            <div class="uk-margin">
              <%= label_tag "Location Name", nil, class: "uk-form-label" %>
              <div class="uk-form-controls">
                <%= text_field_tag :start_loc_name, nil, class: "uk-input", "v-model": "start.name" %>
              </div>
            </div>

            <div class="uk-margin">
              <%= label_tag "Street Address", nil, class: "uk-form-label" %>
              <div class="uk-form-controls">
                <%= text_field_tag :start_street_address, nil, class: "uk-input", "v-model": "start.address" %>
              </div>
            </div>

            <div uk-grid>
              <div class="uk-width-2-3">
                <%= label_tag "City", nil, class: "uk-form-label" %>
                <div class="uk-form-controls">
                  <%= text_field_tag :start_city, nil, class: "uk-input", "v-model": "start.city" %>
                </div> 
              </div>

              <div class="uk-width-1-3">
                <%= label_tag "Zip Code", nil, class: "uk-form-label" %>
                <div class="uk-form-controls">
                  <%= text_field_tag :start_zip, nil, class: "uk-input", "v-model": "start.zip" %>
                </div>
              </div>
            </div>
          </div>

          <div>
            <h3 class="uk-margin-remove-top">What time are you wanting picked up?</h3>
            <div class="uk-margin">
              <div class="uk-form-controls">
                <label><input class="uk-radio" type="radio" name="user-type-radio" v-model="selectedTimeType" value="asap"> As soon as possible</label>
              </div>
              <div class="uk-form-controls">
                <label><input class="uk-radio" type="radio" name="user-type-radio" v-model="selectedTimeType" value="custom"> Custom Time</label>
              </div>
            </div>
            <div class="uk-margin" v-show="selectedTimeType == 'custom'">
              <div class="uk-form-controls">
                <label class="uk-form-label">Please pick a time</label>
                <datepicker v-model="pickupTime" :lang="'en'" type="datetime" :minute-step="5" format="YYYY-MM-DD hh:mm A"></datepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-align-right uk-margin-top">
            <%= button_tag "Back", class: "uk-button large-button", "@click": "switchPage('destination')", ":disabled": "processing" %>
            <%= button_tag "Request Ride", class: "uk-button large-button", "@click": "requestRide", ":disabled": "disableRequestButton", "v-show": "!processing" %>
            <%= button_tag "<div uk-spinner></div> Request Ride".html_safe, class: "uk-button large-button", ":disabled": "processing", "v-show": "processing" %>
          </div>
      </div>
    </form>
  </div>
<% end %>


