@import "colors";

// UIKit overwrites
$global-color: $blue;
$table-header-cell-color: $blue;
$navbar-background: $light-blue;
$navbar-nav-item-color: $blue;
$navbar-nav-item-hover-color: $blue;
$navbar-nav-item-onclick-color: $blue;
$navbar-nav-item-active-color: $blue;
$logo-color: $blue;
$form-radio-background: white;
$global-font-family: HelveticaNeue,
Helvetica Neue,
Helvetica,
Arial,
Lucida Grande,
sans-serif;

// The rest of the imports
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";
@import "uikit/uikit-theme.scss";


body,
html {
  background-color: $light-blue;
}

.text-color-blue {
  color: $blue;
}

.text-color-red {
  color: $red;
}

.uk-navbar {
  border-bottom: 1px solid $blue;
}

.uk-table th {
  font-weight: bolder;
}

.large-button {
  background-color: $blue;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.blue-button {
  background-color: $blue;
  color: white;
}

.blue-button:disabled {
  background-color: $dark-blue;
}

[v-cloak] {
  display: none
}