<script>
  <% flash.each do |key, msg| %>
    <% case key %>
    <% when "alert" %>
      UIkit.notification({ message: "<%= msg %>", status: "warning" });
    <% when "error" %>
      UIkit.notification({ message: "<%= msg %>", status: "danger" });
    <% when "success" %>
      UIkit.notification({ message: "<%= msg %>", status: "success" });
    <% when "timedout" %>
      // Left blank on purpose
    <% else %>
      UIkit.notification({ message: "<%= msg %>", status: "primary" });
    <% end %>
  <% end %>
  
  <% if devise_error_messages? %>
    UIkit.notification({ message: "<%= devise_error_messages! %>", status: "danger" });
  <% end %>
</script>
