<nav class="uk-navbar-container uk-margin-large-left uk-margin-large-right uk-navbar-transparent" uk-navbar style="position: relative; z-index: 980;">
  <div class="uk-navbar-left">
    <%= link_to "#{ image_tag("house.svg", class: "uk-margin-right") } Home".html_safe, root_path, class: "uk-navbar-item uk-logo uk-text-bold" %>
  </div>
</nav>