<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if !@title.blank? %>
        <%= @title %>
      <% else %>
        Sponsor My Lyft | Sponsored Rides
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('house.svg') %>
  </head>

  <body>
    <%= render partial: "layouts/flash_messages" %>
    
    <% if controller_name != "home" %>
      <%= render partial: "layouts/navbar" %>
    <% end %>

    <div class="uk-container">
      <%= yield %>
    </div>

    <% if controller_name == "home" %>
      <div class="uk-position-small uk-position-bottom uk-text-center">
        <small>Sponsor My Lyft uses the Lyft Platform but is not endorsed, certified, or otherwise approved by Lyft.</small>
      </div>
    <% end %>
  </body>
</html>
